In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('portugal_listinigs.csv')
df

/var/folders/ly/8v1_9l291tjb7_s7zctdgw780000gn/T/ipykernel_72180/3761484602.py:1: DtypeWarning: Columns (9,10,12,13,14,15,16,20) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('portugal_listinigs.csv')

,Price,District,City,Town,Type,EnergyCertificate,GrossArea,TotalArea,Parking,HasParking,...,Elevator,ElectricCarsCharging,TotalRooms,NumberOfBedrooms,NumberOfWC,ConservationStatus,LivingArea,LotSize,BuiltArea,NumberOfBathrooms
0,780000.0,Vila Real,Valpaços,Carrazedo de Montenegro e Curros,Farm,NC,200.0,552450.0,0.0,False,...,False,NaN,NaN,NaN,NaN,NaN,120.0,NaN,NaN,0.0
1,223000.0,Faro,São Brás de Alportel,São Brás de Alportel,Apartment,A+,NaN,81.0,1.0,True,...,True,NaN,2.0,NaN,NaN,NaN,81.0,NaN,NaN,2.0
2,228000.0,Faro,São Brás de Alportel,São Brás de Alportel,Apartment,A+,NaN,108.0,1.0,True,...,True,NaN,2.0,NaN,NaN,NaN,108.0,NaN,NaN,2.0
3,250000.0,Faro,São Brás de Alportel,São Brás de Alportel,Apartment,A+,NaN,114.0,1.0,True,...,True,NaN,2.0,NaN,NaN,NaN,114.0,NaN,NaN,0.0
4,250000.0,Faro,São Brás de Alportel,São Brás de Alportel,Apartment,A+,NaN,114.0,1.0,True,...,True,NaN,2.0,NaN,NaN,NaN,114.0,NaN,NaN,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122218,140000.0,Viana do Castelo,Ponte da Barca,Vade (São Pedro),Apartment,E,NaN,72.0,0.0,NaN,...,False,False,2.0,1.0,0.0,Used,72.0,NaN,NaN,1.0
122219,168000.0,Viana do Castelo,Viana do Castelo,Areosa,Land,NC,NaN,NaN,0.0,NaN,...,False,False,NaN,NaN,0.0,NaN,NaN,5995.0,NaN,0.0
122220,130000.0,Vila Real,Chaves,Madalena e Samaiões,Apartment,NC,NaN,65.0,0.0,NaN,...,False,False,3.0,2.0,NaN,NaN,65.0,NaN,65.0,1.0
122221,130000.0,Vila Real,Chaves,Santa Maria Maior,Apartment,E,NaN,54.0,0.0,NaN,...,True,False,5.0,1.0,0.0,Like new,54.0,54.0,NaN,1.0
122222,45000.0,Vila Real,Alijó,Favaios,House,NC,NaN,52.0,0.0,NaN,...,False,False,NaN,1.0,1.0,Reasonable,52.0,52.0,104.0,1.0

In [4]:
df.dtypes

Price                    float64
District                  object
City                      object
Town                      object
Type                      object
EnergyCertificate         object
GrossArea                float64
TotalArea                float64
Parking                  float64
HasParking                object
Floor                     object
ConstructionYear         float64
EnergyEfficiencyLevel     object
PublishDate               object
Garage                    object
Elevator                  object
ElectricCarsCharging      object
TotalRooms               float64
NumberOfBedrooms         float64
NumberOfWC               float64
ConservationStatus        object
LivingArea               float64
LotSize                  float64
BuiltArea                float64
NumberOfBathrooms        float64
dtype: object

In [5]:
df['Type'].value_counts()

Type
Apartment              40851
House                  33404
Land                   29862
Store                   4938
Farm                    3666
Building                2294
Transfer of lease       1500
Warehouse               1328
Garage                   873
Other - Commercial       748
Office                   669
Other - Residential      564
Industrial               394
Duplex                   364
Investment               234
Storage                  190
Hotel                    147
Studio                    85
Estate                    58
Mansion                   32
Manor                      6
Name: count, dtype: int64

In [6]:
df_apartment = df[df['Type'] == 'Apartment']
df_apartment

,Price,District,City,Town,Type,EnergyCertificate,GrossArea,TotalArea,Parking,HasParking,...,Elevator,ElectricCarsCharging,TotalRooms,NumberOfBedrooms,NumberOfWC,ConservationStatus,LivingArea,LotSize,BuiltArea,NumberOfBathrooms
1,223000.0,Faro,São Brás de Alportel,São Brás de Alportel,Apartment,A+,NaN,81.0,1.0,True,...,True,NaN,2.0,NaN,NaN,NaN,81.0,NaN,NaN,2.0
2,228000.0,Faro,São Brás de Alportel,São Brás de Alportel,Apartment,A+,NaN,108.0,1.0,True,...,True,NaN,2.0,NaN,NaN,NaN,108.0,NaN,NaN,2.0
3,250000.0,Faro,São Brás de Alportel,São Brás de Alportel,Apartment,A+,NaN,114.0,1.0,True,...,True,NaN,2.0,NaN,NaN,NaN,114.0,NaN,NaN,0.0
4,250000.0,Faro,São Brás de Alportel,São Brás de Alportel,Apartment,A+,NaN,114.0,1.0,True,...,True,NaN,2.0,NaN,NaN,NaN,114.0,NaN,NaN,2.0
5,250000.0,Faro,São Brás de Alportel,São Brás de Alportel,Apartment,A+,NaN,115.0,1.0,True,...,True,NaN,2.0,NaN,NaN,NaN,115.0,NaN,NaN,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122214,145000.0,Setúbal,Alcácer do Sal,Alcácer do Sal (Santa Maria do Castelo e Santi...,Apartment,D,NaN,64.0,0.0,NaN,...,False,False,NaN,1.0,0.0,NaN,69.0,NaN,69.0,2.0
122215,159000.0,Setúbal,Moita,Alhos Vedros,Apartment,C,NaN,84.0,0.0,NaN,...,False,False,NaN,2.0,0.0,NaN,84.0,NaN,NaN,1.0
122218,140000.0,Viana do Castelo,Ponte da Barca,Vade (São Pedro),Apartment,E,NaN,72.0,0.0,NaN,...,False,False,2.0,1.0,0.0,Used,72.0,NaN,NaN,1.0
122220,130000.0,Vila Real,Chaves,Madalena e Samaiões,Apartment,NC,NaN,65.0,0.0,NaN,...,False,False,3.0,2.0,NaN,NaN,65.0,NaN,65.0,1.0
122221,130000.0,Vila Real,Chaves,Santa Maria Maior,Apartment,E,NaN,54.0,0.0,NaN,...,True,False,5.0,1.0,0.0,Like new,54.0,54.0,NaN,1.0

In [7]:
df_apartment.isnull().sum()

Price                      131
District                     0
City                         0
Town                         0
Type                         0
EnergyCertificate            0
GrossArea                29591
TotalArea                    3
Parking                     19
HasParking               17214
Floor                    17236
ConstructionYear          8225
EnergyEfficiencyLevel    23640
PublishDate              33085
Garage                   23640
Elevator                     3
ElectricCarsCharging     23640
TotalRooms                8172
NumberOfBedrooms         23640
NumberOfWC               25806
ConservationStatus       33644
LivingArea                   4
LotSize                  37751
BuiltArea                32653
NumberOfBathrooms          109
dtype: int64

In [12]:
df_apartment.isnull().mean().round(2) * 100

Price                     0.0
District                  0.0
City                      0.0
Town                      0.0
Type                      0.0
EnergyCertificate         0.0
GrossArea                72.0
TotalArea                 0.0
Parking                   0.0
HasParking               42.0
Floor                    42.0
ConstructionYear         20.0
EnergyEfficiencyLevel    58.0
PublishDate              81.0
Garage                   58.0
Elevator                  0.0
ElectricCarsCharging     58.0
TotalRooms               20.0
NumberOfBedrooms         58.0
NumberOfWC               63.0
ConservationStatus       82.0
LivingArea                0.0
LotSize                  92.0
BuiltArea                80.0
NumberOfBathrooms         0.0
dtype: float64

In [19]:
threshold = 0.7  
df_apartment = df_apartment.loc[:, df_apartment.isnull().mean() < threshold]

In [20]:
df_apartment.isnull().sum()

Price                      131
District                     0
City                         0
Town                         0
Type                         0
EnergyCertificate            0
TotalArea                    3
Parking                     19
HasParking               17214
Floor                    17236
ConstructionYear          8225
EnergyEfficiencyLevel    23640
Garage                   23640
Elevator                     3
ElectricCarsCharging     23640
TotalRooms                8172
NumberOfBedrooms         23640
NumberOfWC               25806
LivingArea                   4
NumberOfBathrooms          109
dtype: int64

In [23]:
df_apartment = df_apartment.drop_duplicates()

In [24]:
df_apartment.isnull().sum()

Price                      130
District                     0
City                         0
Town                         0
Type                         0
EnergyCertificate            0
TotalArea                    3
Parking                     17
HasParking               15628
Floor                    15648
ConstructionYear          6975
EnergyEfficiencyLevel    21924
Garage                   21924
Elevator                     3
ElectricCarsCharging     21924
TotalRooms                7263
NumberOfBedrooms         21924
NumberOfWC               23918
LivingArea                   4
NumberOfBathrooms          109
dtype: int64

In [27]:
df_apartment = df_apartment.dropna(subset=['Price'])

In [28]:
df_apartment.isnull().sum()

Price                        0
District                     0
City                         0
Town                         0
Type                         0
EnergyCertificate            0
TotalArea                    3
Parking                     17
HasParking               15575
Floor                    15595
ConstructionYear          6887
EnergyEfficiencyLevel    21847
Garage                   21847
Elevator                     3
ElectricCarsCharging     21847
TotalRooms                7241
NumberOfBedrooms         21847
NumberOfWC               23840
LivingArea                   4
NumberOfBathrooms          109
dtype: int64

In [13]:
df_house = df[df['Type'] == 'House']
df_house

,Price,District,City,Town,Type,EnergyCertificate,GrossArea,TotalArea,Parking,HasParking,...,Elevator,ElectricCarsCharging,TotalRooms,NumberOfBedrooms,NumberOfWC,ConservationStatus,LivingArea,LotSize,BuiltArea,NumberOfBathrooms
15,175000.0,Faro,Faro,Faro (Sé e São Pedro),House,NC,NaN,78.0,0.0,False,...,False,NaN,4.0,NaN,NaN,NaN,78.0,NaN,NaN,2.0
20,435000.0,Faro,Loulé,São Clemente,House,D,NaN,226.0,2.0,True,...,False,NaN,3.0,NaN,NaN,NaN,184.0,NaN,NaN,2.0
23,605000.0,Faro,Albufeira,Albufeira e Olhos de Água,House,C,113.0,640.0,2.0,True,...,False,NaN,3.0,NaN,NaN,NaN,113.0,NaN,NaN,3.0
24,1485000.0,Faro,Loulé,Quarteira,House,D,NaN,472.0,2.0,True,...,False,NaN,4.0,NaN,NaN,NaN,414.0,NaN,NaN,5.0
28,195000.0,Faro,Vila do Bispo,Vila do Bispo e Raposeira,House,NC,110.0,137.0,0.0,False,...,False,NaN,0.0,NaN,NaN,NaN,110.0,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122201,215000.0,Setúbal,Palmela,Pinhal Novo,House,NC,NaN,144.0,0.0,NaN,...,False,False,NaN,2.0,NaN,NaN,144.0,NaN,186.50,2.0
122204,500000.0,Setúbal,Almada,Charneca de Caparica e Sobreda,House,NC,NaN,150.0,1.0,NaN,...,False,False,5.0,4.0,1.0,New,88.0,295.0,180.00,4.0
122205,675000.0,Setúbal,Almada,Charneca de Caparica e Sobreda,House,A,NaN,150.0,1.0,NaN,...,False,False,6.0,5.0,0.0,New,150.0,905.0,206.00,3.0
122212,714000.0,Setúbal,Almada,Charneca de Caparica e Sobreda,House,A+,NaN,159.0,0.0,NaN,...,False,False,4.0,3.0,1.0,NaN,134.0,NaN,199.77,3.0
122222,45000.0,Vila Real,Alijó,Favaios,House,NC,NaN,52.0,0.0,NaN,...,False,False,NaN,1.0,1.0,Reasonable,52.0,52.0,104.00,1.0

In [14]:
df_house.isnull().sum()

Price                       78
District                     0
City                         0
Town                         0
Type                         0
EnergyCertificate            0
GrossArea                23981
TotalArea                    6
Parking                    119
HasParking               14693
Floor                    32337
ConstructionYear          2293
EnergyEfficiencyLevel    18717
PublishDate              27774
Garage                   18717
Elevator                     6
ElectricCarsCharging     18717
TotalRooms                7557
NumberOfBedrooms         18719
NumberOfWC               19953
ConservationStatus       28320
LivingArea                  11
LotSize                  21762
BuiltArea                26038
NumberOfBathrooms          290
dtype: int64

In [15]:
df_house.isnull().mean().round(2) * 100

Price                     0.0
District                  0.0
City                      0.0
Town                      0.0
Type                      0.0
EnergyCertificate         0.0
GrossArea                72.0
TotalArea                 0.0
Parking                   0.0
HasParking               44.0
Floor                    97.0
ConstructionYear          7.0
EnergyEfficiencyLevel    56.0
PublishDate              83.0
Garage                   56.0
Elevator                  0.0
ElectricCarsCharging     56.0
TotalRooms               23.0
NumberOfBedrooms         56.0
NumberOfWC               60.0
ConservationStatus       85.0
LivingArea                0.0
LotSize                  65.0
BuiltArea                78.0
NumberOfBathrooms         1.0
dtype: float64

In [21]:
threshold = 0.7  
df_house = df_house.loc[:, df_house.isnull().mean() < threshold]

In [22]:
df_house.isnull().sum()

Price                       78
District                     0
City                         0
Town                         0
Type                         0
EnergyCertificate            0
TotalArea                    6
Parking                    119
HasParking               14693
ConstructionYear          2293
EnergyEfficiencyLevel    18717
Garage                   18717
Elevator                     6
ElectricCarsCharging     18717
TotalRooms                7557
NumberOfBedrooms         18719
NumberOfWC               19953
LivingArea                  11
LotSize                  21762
NumberOfBathrooms          290
dtype: int64

In [25]:
df_house = df_house.drop_duplicates()

In [26]:
df_house.isnull().sum()

Price                       61
District                     0
City                         0
Town                         0
Type                         0
EnergyCertificate            0
TotalArea                    6
Parking                     74
HasParking               13635
ConstructionYear          1760
EnergyEfficiencyLevel    17630
Garage                   17630
Elevator                     6
ElectricCarsCharging     17630
TotalRooms                7060
NumberOfBedrooms         17632
NumberOfWC               18797
LivingArea                  10
LotSize                  20432
NumberOfBathrooms          280
dtype: int64

In [29]:
df_house = df_house.dropna(subset=['Price'])

In [30]:
df_house.isnull().sum()

Price                        0
District                     0
City                         0
Town                         0
Type                         0
EnergyCertificate            0
TotalArea                    6
Parking                     74
HasParking               13599
ConstructionYear          1742
EnergyEfficiencyLevel    17605
Garage                   17605
Elevator                     6
ElectricCarsCharging     17605
TotalRooms                7045
NumberOfBedrooms         17607
NumberOfWC               18772
LivingArea                  10
LotSize                  20406
NumberOfBathrooms          280
dtype: int64

In [33]:
df_null_energy_certificate = df_house[df_house['EnergyEfficiencyLevel'].isna()]

df_null_energy_certificate[['EnergyCertificate', 'EnergyEfficiencyLevel', 'Garage', 'ElectricCarsCharging']]

      EnergyCertificate EnergyEfficiencyLevel Garage ElectricCarsCharging
15                   NC                   NaN    NaN                  NaN
20                    D                   NaN    NaN                  NaN
23                    C                   NaN    NaN                  NaN
24                    D                   NaN    NaN                  NaN
28                   NC                   NaN    NaN                  NaN
...                 ...                   ...    ...                  ...
68234                 F                   NaN    NaN                  NaN
68236                 E                   NaN    NaN                  NaN
68239                 F                   NaN    NaN                  NaN
68240                 F                   NaN    NaN                  NaN
68245                 C                   NaN    NaN                  NaN

[17605 rows x 4 columns]

In [35]:
df_house[['EnergyCertificate', 'Garage', 'ElectricCarsCharging']]

       EnergyCertificate Garage ElectricCarsCharging
15                    NC    NaN                  NaN
20                     D    NaN                  NaN
23                     C    NaN                  NaN
24                     D    NaN                  NaN
28                    NC    NaN                  NaN
...                  ...    ...                  ...
122201                NC  False                False
122204                NC  False                False
122205                 A  False                False
122212                A+   True                False
122222                NC  False                False

[31198 rows x 3 columns]

In [36]:
df_house.isnull().sum()

Price                        0
District                     0
City                         0
Town                         0
Type                         0
EnergyCertificate            0
TotalArea                    6
Parking                     74
HasParking               13599
ConstructionYear          1742
EnergyEfficiencyLevel    17605
Garage                   17605
Elevator                     6
ElectricCarsCharging     17605
TotalRooms                7045
NumberOfBedrooms         17607
NumberOfWC               18772
LivingArea                  10
LotSize                  20406
NumberOfBathrooms          280
dtype: int64

In [37]:
df_house = df_house.dropna(subset=['TotalArea'])

In [38]:
df_house.isnull().sum()

Price                        0
District                     0
City                         0
Town                         0
Type                         0
EnergyCertificate            0
TotalArea                    0
Parking                     68
HasParking               13593
ConstructionYear          1736
EnergyEfficiencyLevel    17599
Garage                   17599
Elevator                     0
ElectricCarsCharging     17599
TotalRooms                7039
NumberOfBedrooms         17601
NumberOfWC               18766
LivingArea                   4
LotSize                  20400
NumberOfBathrooms          274
dtype: int64

In [39]:
df_house = df_house.dropna(subset=['LivingArea'])

In [40]:
df_house.isnull().sum()

Price                        0
District                     0
City                         0
Town                         0
Type                         0
EnergyCertificate            0
TotalArea                    0
Parking                     68
HasParking               13591
ConstructionYear          1736
EnergyEfficiencyLevel    17597
Garage                   17597
Elevator                     0
ElectricCarsCharging     17597
TotalRooms                7037
NumberOfBedrooms         17599
NumberOfWC               18764
LivingArea                   0
LotSize                  20398
NumberOfBathrooms          274
dtype: int64

In [41]:
df_house = df_house.dropna(subset=['Parking'])

In [42]:
df_house.isnull().sum()

Price                        0
District                     0
City                         0
Town                         0
Type                         0
EnergyCertificate            0
TotalArea                    0
Parking                      0
HasParking               13591
ConstructionYear          1728
EnergyEfficiencyLevel    17529
Garage                   17529
Elevator                     0
ElectricCarsCharging     17529
TotalRooms                7037
NumberOfBedrooms         17531
NumberOfWC               18696
LivingArea                   0
LotSize                  20330
NumberOfBathrooms          269
dtype: int64

In [43]:
df_house = df_house.dropna(subset=['NumberOfBathrooms'])

In [44]:
df_house.isnull().sum()

Price                        0
District                     0
City                         0
Town                         0
Type                         0
EnergyCertificate            0
TotalArea                    0
Parking                      0
HasParking               13515
ConstructionYear          1719
EnergyEfficiencyLevel    17336
Garage                   17336
Elevator                     0
ElectricCarsCharging     17336
TotalRooms                6979
NumberOfBedrooms         17338
NumberOfWC               18427
LivingArea                   0
LotSize                  20112
NumberOfBathrooms            0
dtype: int64

In [46]:
df_house.shape

(30851, 20)

In [47]:
df_house = df_house.drop('EnergyEfficiencyLevel', axis=1)